includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
    paths:
        - src/
        - tests/
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - Illuminate\Support\Fluent
    # ignoreErrors:
    #    - identifier: missingType.iterableValue
    #    - identifier: missingType.generics
    level: 5